asgiref==3.8.1
boto==2.49.0
boto3==1.35.73
botocore==1.35.73
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
colorlog==6.9.0
common-fate-schema==0.7.0
coverage==7.6.4
cryptography==44.0.0
distlib==0.3.9
Django==5.1.4
django-autocomplete-light==3.11.0
django-formset==1.5.5
django-markwhat==1.6.2
filelock==3.16.1
httplib2==0.22.0
idna==3.10
jmespath==1.0.1
jwcrypto==1.5.6
keyring==5.7.1
markdown2==2.5.1
pillow==11.0.0
platformdirs==4.3.6
proto-plus==1.25.0
protobuf==5.29.0
provider==0.11.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==1.10.19
pyparsing==3.2.0
python-dateutil==2.9.0.post0
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
s3transfer==0.10.4
setuptools==75.6.0
six==1.16.0
sqlparse==0.5.0
toml==0.10.2
tornado==6.4.2
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.2.3
virtualenv==20.28.0
