{% extends 'base.html' %}


{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ul>
        <li><a href="{% url 'emr:index' %}">Inicio</a></li>
        <li><a href="{% url 'accounts:account_detail' %}">Detalles de la cuenta</a></li>
    </ul>
</nav>
{% endblock %}



{% block content %}

<h1>Detalles de la cuenta del usuario {{ user.username }}</h1>



<form method="post">
    {% csrf_token %}
    <label for="username">Nombre de usuario</label>
    <input type="text" name="username" value="{{ user.username }}">
    <label for="email">Email</label>
    <input type="text" name="email" value="{{ user.email }}">
    <label for="password">Contraseña</label>
    <input type="text" name="password" value="{{ user.password }}">
    <button type="submit">Guardar cambios</button>
</form>



{% endblock %}
