{% extends 'base.html' %}



{% block title %}
<title>Inicio</title>
{% endblock title %}


{% block custom_css %}
<style>
    #enfermeria {
        font-weight: bold;
    }
</style>
{% endblock custom_css %}

{% block content %}


<article>
<details>
    <summary id="enfermeria">ENFERMERÍA</summary>
    <ul>
        <li><a href="{% url 'emr:medication_control_list' %}">Control de Medicamentos</a></li>
        <li><a href="{% url 'emr:medication_list' %}">Inventario de Medicamentos</a></li>
        <li><a href="">Registro de Presion Arterial</a></li>
        <li><a href="">Registro de Comidas</a></li>
        <li><a href="">Comidas</a></li>
    </ul>
</details>
</article>

<article>
<details>
    <summary>TERAPIA OCCUPACIONAL</summary>
    <ul>
        <li><a href="">Registrar Valoración</a></li>
        <li><a href="">Registrar Terapia</a></li>
    </ul>
</details>
</article>

<article>
<details>
    <summary>MEDICINA GENERAL</summary>
    <ul>
        <li><a href="">Registro de Historia Clínica</a></li>
        <li><a href="">Registro de Exámenes</a></li>
    </ul>
</details>
</article>
{% endblock %}