{% extends "base.html" %}
{% block title %}
<h1>Control de Medicamentos</h1>
{% endblock title %}

{% block extra_css %}

{% endblock extra_css %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ul>
      <li><a href="{% url 'emr:index' %}">Inicio</a></li>
      <li><a href="{% url 'emr:medication_control_list' %}">Control de Medicamentos</a></li>
    </ul>
  </nav>
{% endblock breadcrumb %}

{% block content %}

<div class="d-flex justify-content-end">
<button class="secondary" onclick="window.location.href='{% url 'emr:medication_control_form' %}'">Agregar Registro</button>
</div>


<span id="currentWeekDisplay" class="mx-3">
    Semana del {{ week_display.start }} al {{ week_display.end }}
</span>
<div role="group">
   
       
            <button id="prevWeek" class="btn btn-primary">&lt; Semana Anterior</button>
            
            <button id="nextWeek" class="btn btn-primary">Siguiente Semana &gt;</button>
       
    </div>
    
    <div class="overflow-auto">
        <table>
            <thead>
                <tr>
                    <th>Medicamento</th>
                    {% for day in weekly_data.keys %}
                        <th>{{ day }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for medication in medications %}
                <tr>
                    <td>{{ medication.med_name }} ({{ medication.med_quantity }})</td>
                    {% for day, records in weekly_data.items %}
                        <td>
                            {% for record in records %}
                                {% if record.med == medication %}
                                    <a href="{% url 'emr:medication_control_details' record.id %}">
                                    {{ record.control_date }} - {{ record.control_location }}
                                    <br>
                                    {{ record.control_observation }}
                                    <br>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>


{% endblock content %}

{% block extra_scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const currentOffset = {{ week_display.offset }};
        
        document.getElementById('prevWeek').addEventListener('click', function() {
            window.location.href = `?week=${currentOffset - 1}`;
        });
        
        document.getElementById('nextWeek').addEventListener('click', function() {
            window.location.href = `?week=${currentOffset + 1}`;
        });
    });
</script>
{% endblock extra_scripts %}