{% extends "base.html" %}

{% block content %}
<h1>Medication Control List</h1>


<table>
    <thead>
        <tr>
            <th>Medication</th>
            <th>Quantity</th>
            <th>Date</th>
            <th>Location</th>
            <th>Observation</th>
        </tr>
    </thead>
    <tbody>
        {% for medication in medications %}
        <tr>
            <td>{{ medication.med.med_name }}</td>
            <td>{{ medication.med.med_quantity }}</td>
            <td>{{ medication.control_date }}</td>
            <td>{{ medication.control_location }}</td>
            <td>{{ medication.control_observation }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

