{% extends 'base.html' %}


{% block title %}
    Registro de Historia Clínica
{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="{% url 'emr:index' %}">Inicio</a></li>
            <li><a href="{% url 'emr:medical_record_list' %}">Registro de Historia Clínica</a></li>
            <li>Nuevo Registro</li>
        </ul>

    </nav>
{% endblock %}



{% block content %}
<h1>Registro de Historia Clínica</h1>

<label for="patient_name">Paciente</label>
<input type="text" id="patient_name" value="{{ patient.name }}">

<div>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
{% endblock %}


