{% extends 'base.html' %}

{% block title %}
    Medical Record
{% endblock title %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ul>
      <li><a href="{% url 'emr:index' %}">Inicio</a></li>
      <li><a href="{% url 'emr:medical_record_list' %}">Formulario de Registro Médico</a></li>
    </ul>
  </nav>
{% endblock breadcrumb %}

{% block content %}
    <h1>Registro de Terapias</h1>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary" onclick="window.location.href='{% url 'emr:medical_record_form' %}'">Agregar Registro</button>
    </div>
    <div class="overflow-auto"> 
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Diagnóstico</th>
                <th>Terapia</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for medical_record in medical_records %}
                <tr>
                    <td>{{ medical_record.record_date }}</td>
                    <td>{{ medical_record.diagnosis.diagnosis_name }}</td>
                    <td>{{ medical_record.therapy.therapy_name }}</td>
                    <td>
                        <a href="{% url 'emr:medical_record_form_update' medical_record.id %}" class="btn btn-warning">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock content %}
