{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
    {% block custom_css %}
    {% endblock custom_css %}
</head>
<body>
    {% if user.is_authenticated %}
    <header>
        <nav>
            <ul>
              <li><strong>Acme Corp</strong></li>
            </ul>
            <ul>
              <li><a href="#" class="secondary">Services</a></li>
              <li>
                <details class="dropdown">
                  <summary>
                    Account
                  </summary>
                  <ul dir="rtl">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                  </ul>
                </details>
              </li>
            </ul>
          </nav>
    </header>
    {% endif %}
{% block content %}
{% endblock content %}  


</body>    

{% block extra_scripts %}
{% endblock extra_scripts %}
</html>