{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
    <style>
      :root {
          --background-color: white !important;
      }
      
      body {
          background-color: white !important;
      }
      
      details.dropdown > ul {
          background-color: white !important;
      }
      
  </style>
    {% block custom_css %}
    {% endblock custom_css %}
</head>
<body>

    {% if user.is_authenticated %}
    
    <header class="container">
        <nav>
            <ul>
              <li><strong>Sistema de Gestión</strong></li>
            </ul>
            <ul>
              <li>
                <details class="dropdown">
                  <summary>Enfermería</summary>
                  <ul dir="rtl">
                  <li><a href="#" class="secondary">Inventario de Medicamentos</a></li>
                  <li><a href="#" class="secondary">Control de Medicamentos</a></li>
                  <li><a href="#" class="secondary">Registro de Presion Arterial</a></li>
                  <li><a href="#" class="secondary">Registro de Comidas</a></li>
                  <li><a href="#" class="secondary">Comidas</a></li>
                  </ul>
              </details>
              </li>
              <li>
                <details class="dropdown">
                  <summary>TO</summary>
                  <ul dir="rtl">
                  <li><a href="#" class="secondary">Historia Clínica</a></li>
                  <li><a href="#" class="secondary">Registro Valoración</a></li>
                </ul>
              </details>
              </li>
              <li>
                <details class="dropdown">
                  <summary>MedGen</summary>
                  <ul dir="rtl">
                    <li><a href="#" class="secondary">Historia Clínica</a></li>
                    <li><a href="#" class="secondary">Registro Valoración</a></li>
                  </ul>
                </details>
              </li>
              <li>
                <details class="dropdown">
                  <summary>
                    Account
                  </summary>
                  <ul dir="rtl">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                  </ul>
                </details>
              </li>
            </ul>
          </nav>
    </header>
    {% endif %}
    <main class="container">
        {% block breadcrumb %}
        {% endblock breadcrumb %}
        {% block content %}

        {% endblock content %}
    </main>
</body>    
{% block extra_scripts %}
{% endblock extra_scripts %}
</html>